/* Min-width: 1200px */

/* Header */
header
{
    height: 120px;
    font-size: 60px;
}

/* Container : main */
#container 
{
    width: 1185px;
    margin-bottom: 225px;
}

#container h1
{
    font-size: 50px;
    margin-top: 105px;
    margin-bottom: 45px;
}

/* Navigation */

ul
{
    margin-top: 50px;
    margin-bottom: 75px;
}

li
{
    height: 765px;
    box-shadow: 0px 0px 10px 5px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 70px;
}

#menu_1 .fa-music
{
    font-size: 85px;
    margin-bottom: 10px;
}

#menu_1 h3
{
    font-size: 60px;
}

#menu_1 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 50px;
}

#menu_2 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 50px;
}

#menu_3 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 50px;
}

#menu_4 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Button Prochainement */
.btn
{
    height: 115px;
    width: 655px;
}

.btn a
{
    font-size: 50px;
}

/* Footer */
footer
{
    height: 80px;
}

footer a
{
    font-size: 40px;
}

/* Section Menu 1 : dish presentation */
#section_menu_1
{
    padding-left: 130px;
    padding-right: 130px;
    box-shadow: 0px 0px 10px 5px rgba(237, 237, 237);
}

table
{
    width: 930px;
}

#section_menu_1 h2
{
    font-size: 60px;
}

#section_menu_1 h2 .fa-music
{
    font-size: 115px;
    margin-top: 85px;
}

#section_menu_1 caption
{
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 125px;
}

#section_menu_1 caption:nth-child(1)
{
    margin-top: 90px;
}

#section_menu_1 td
{
    font-size: 30px;
    padding-bottom: 35px;
}

caption::before, caption::after
{
    left: 0;
    right: 0;
    height: 15px;
    width: 290px;
    background: black;
    content: "";
}