/* Min-width: 1200px */

/* Header */
header
{
    height: 195px;
    font-size: 90px;
}

/* Container : main */
#container 
{
    width: 1185px;
    margin-bottom: 225px;
}

/* Navigation */

ul
{
    margin-top: 80px;
    margin-bottom: 75px;
}

li
{
    height: 765px;
    box-shadow: 0px 0px 10px 5px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 70px;
}

.fa-music
{
    font-size: 85px;
    margin-bottom: 10px;
}

#menu_1 h3
{
    font-size: 60px;
}

#menu_1 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 50px;
}

#menu_2 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 50px;
}

#menu_3 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 50px;
}

#menu_4 h2
{
    font-size: 35px;
    margin-bottom: 50px;
}

/* Button Prochainement */
.btn
{
    height: 115px;
    width: 655px;
}

.btn a
{
    font-size: 50px;
}

/* Footer */
footer
{
    height: 140px;
}

footer a
{
    font-size: 50px;
}