/* Min-width: 1200px */

/* Header */
header
{
    height: 196px;
    font-size: 88px;
}

/* Container : main */
#container 
{
    width: 1184px;
}

/* Navigation */

ul
{
    margin-top: 91px;
    margin-bottom: 73px;
}

li
{
    height: 763px;
    width: 535px;
    box-shadow: 0px 0px 12px 4px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-right: 96px;
    margin-bottom: 71px;
}

.fa-music
{
    font-size: 83px;
    margin-bottom: 12px;
}

#menu_1 h3
{
    font-size: 61.1px;
}

#menu_1 h2
{
    font-size: 36px;
    margin-bottom: 66px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 50px;
}

#menu_2 h2
{
    font-size: 36px;
    margin-bottom: 54px;
}

/* Menu 3 */

#menu_3
{
    margin-right: 96px;
} 

#menu_3 h3
{
    font-size: 50px;
}

#menu_3 h2
{
    font-size: 58px;
    margin-bottom: 69px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 50px;
}

#menu_4 h2
{
    font-size: 61px;
    margin-bottom: 46x;
}