/* Min-width: 992px and max-width: 1199.98px */

/* Header */
header
{
    height: 196px;
    font-size: 88px;
}

#container 
{
    width: 940px;
}

/* Navigation */
ul
{
    margin-top: 71px;
    margin-bottom: 57.92px;
}
li
{
    height: 605px;
    width: 424px;
    box-shadow: 0px 0px 9px 3.87px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-right: 75.49px;
    margin-bottom: 56.34px;
}

.fa-music
{
    font-size: 65.86px;
    margin-bottom: 9.51px;
}

#menu_1 .menu
{
    font-size: 48.48px;
}

#menu_1 p
{
    font-size: 28.56px;
    margin-bottom: 52.37px;
}

/* Menu 2 */

/* Menu 3*/

#menu_3
{
    margin-right: 75.49px;
}

/* Menu 4 */
