/* Min-width: 992px and max-width: 1199.98px */

/* Header */
header
{
    height: 110px;
    font-size: 50px;
}

#container 
{
    width: 940px;
    margin-bottom: 180px;
}

/* Navigation */
ul
{
    margin-top: 40px;
    margin-bottom: 60px;
}
li
{
    height: 605px;
    box-shadow: 0px 0px 9px 5px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 55px;
}

.fa-music
{
    font-size: 65px;
    margin-bottom: 10px;
}

#menu_1 h3
{
    font-size: 50px;
}

#menu_1 h2
{
    font-size: 30px;
    margin-bottom: 50px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 40px;
}

#menu_2 h2
{
    font-size: 30px;
    margin-bottom: 40px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 40px;
}

#menu_3 h2
{
    font-size: 30px;
    margin-bottom: 40px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 40px;
}

#menu_4 h2
{
    font-size: 30px;
    margin-bottom: 40px;
}

/* Button Prochainement */
.btn
{
    height: 95px;
    width: 520px;
}

.btn a
{
    font-size: 40px;
}

/* Footer */
footer
{
    height: 75px;
}

footer a
{
    font-size: 40px;
}
