/* Min-width: 992px and max-width: 1199.98px */

/* Header */
header
{
    height: 195px;
    font-size: 90px;
}

#container 
{
    width: 940px;
}

/* Navigation */
ul
{
    margin-top: 70px;
    margin-bottom: 60px;
}
li
{
    height: 605px;
    width: 425px;
    box-shadow: 0px 0px 9px 5px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 55px;
}

.fa-music
{
    font-size: 65px;
    margin-bottom: 10px;
}

#menu_1 h3
{
    font-size: 50px;
}

#menu_1 h2
{
    font-size: 30px;
    margin-bottom: 50px;
}

/* Menu 2 */

/* Menu 3*/

/* Menu 4 */
