/* Min-width: 768px and max-width: 991.98px */

/* Header */
header
{
    height: 110px;
    font-size: 50px;
}

/* Container : main */

#container 
{
    width: 720px;
    margin-bottom: 140px;
}

#container h1
{
    font-size: 30px;
    margin-top: 65px;
    margin-bottom: 25px;
}

/* Navigation */
ul
{
    margin-top: 55px;
    margin-bottom: 45px;
}
li
{
    height: 465px;
    box-shadow: 0px 0px 7px 3px rgba(237, 237, 237);
    flex: 1 0 40%;
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 45px;
}

.fa-music
{
    font-size: 50px;
    margin-bottom: 5px;
}

#menu_1 h3
{
    font-size: 40px;
}

#menu_1 h2
{
    font-size: 20px;
    margin-bottom: 40px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 30px;
}

#menu_2 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 30px;
}

#menu_3 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 30px;
}

#menu_4 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Button Prochainement */
.btn
{
    height: 70px;
    width: 400px;
}

.btn a
{
    font-size: 30px;
}

/* Footer */
footer
{
    height: 60px;
}

footer a
{
    font-size: 30px;
}

/* Section Menu : dish presentation */
#section_menu_1, #section_menu_2, #section_menu_3, #section_menu_4 
{
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 0px 0px 10px 5px rgba(237, 237, 237);
    width: 565px;
}

table
{
    width: 565px;
}

#section_menu_1 h2, #section_menu_2 h2, #section_menu_4 h2 
{
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 10px;
}

#section_menu_3 h2
{
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 10px;
}

#section_menu_1 h2 .fa-music
{
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.border_menu
{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 75px;
}

.border_menu:nth-child(1)
{
    margin-top: 55px;
}

td
{
    font-size: 20px;
    padding-bottom: 20px;
}

#section_menu_1 p
{
    font-size: 35px;
    padding-bottom: 65px;
    margin-top: 60px;
}

#section_menu_1 p i
{
    margin-right: 10px;
}

#section_menu_2, #section_menu_3, #section_menu_4
{
    padding-bottom: 65px;
}

/* Line around h3 in menu */
.line_around_before, .line_around_after
{
    top: 45%;
    height: 5px;
    width: 130px;
}