/* Min-width: 768px and max-width: 991.98px */

/* Header */
header
{
    height: 110px;
    font-size: 50px;
}

/* Container : main */

#container 
{
    width: 720px;
    margin-bottom: 140px;
}

/* Navigation */
ul
{
    margin-top: 55px;
    margin-bottom: 45px;
}
li
{
    height: 465px;
    box-shadow: 0px 0px 7px 3px rgba(237, 237, 237);
}

/* Menu */

#menu_1
{
    margin-bottom: 45px;
}

.fa-music
{
    font-size: 50px;
    margin-bottom: 5px;
}

#menu_1 h3
{
    font-size: 40px;
}

#menu_1 h2
{
    font-size: 20px;
    margin-bottom: 40px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 30px;
}

#menu_2 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 30px;
}

#menu_3 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 30px;
}

#menu_4 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Button Prochainement */
.btn
{
    height: 70px;
    width: 400px;
}

.btn a
{
    font-size: 30px;
}

/* Footer */
footer
{
    height: 60px;
}

footer a
{
    font-size: 30px;
}