/* Min-width: 576px and max-width: 767.98px*/

/* Header */
header
{
    height: 100px;
    font-size: 50px;
}

/* Container: Main */

#container 
{
    width: 540px;
    margin-bottom: 110px;
}

#container h1
{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Navigation */
ul
{
    margin-top: 40px;
    margin-bottom: 35px;
}
li
{
    height: 350px;
    box-shadow: 0px 0px 10px 3px rgba(237, 237, 237);
    flex: 1 0 40%;
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 30px;
}

.fa-music
{
    font-size: 40px;
    margin-bottom: 5px;
}

#menu_1 h3
{
    font-size: 30px;
}

#menu_1 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 25px;
}

#menu_2 h2
{
    font-size: 20px;
    margin-bottom: 25px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 25px;
}

#menu_3 h2
{
    font-size: 20px;
    margin-bottom: 25px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 25px;
}

#menu_4 h2
{
    font-size: 20px;
    margin-bottom: 25px;
}

/* Button Prochainement */
.btn
{
    height: 55px;
    width: 330px;
}

.btn a
{
    font-size: 25px;
}

/* Footer */
footer
{
    height: 50px;
}

footer a
{
    font-size: 25px;
}

/* Section Menu : dish presentation */
#section_menu_1, #section_menu_2, #section_menu_3, #section_menu_4
{
    padding-left: 65px;
    padding-right: 65px;
    box-shadow: 0px 0px 10px 5px rgba(237, 237, 237);
}

table
{
    width: 465px;
}

#section_menu_1 h2, #section_menu_2 h2, #section_menu_3 h2, #section_menu_4 h2
{
    font-size: 25px;
    padding-top: 40px;
    margin-bottom: 10px;
}

#section_menu_1 h2 .fa-music
{
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.border_menu
{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 60px;
}

.border_menu:nth-child(1)
{
    margin-top: 45px;
}

td
{
    font-size: 15px;
    padding-bottom: 15px;
}

#section_menu_1 p
{
    font-size: 30px;
    padding-bottom: 55px;
    margin-top: 45px;
}

#section_menu_1 p i
{
    margin-right: 5px;
}

#section_menu_2, #section_menu_3, #section_menu_4
{
    padding-bottom: 55px;
}

/* Line around h3 in menu */
.line_around_before, .line_around_after
{
    top: 45%;
    height: 4px;
    width: 110px;
}