/* Min-width: 576px and max-width: 767.98px*/

/* Header */
header
{
    height: 195px;
    font-size: 90px;
}

#container {
    width: 540px;
}

/* Navigation */
ul
{
    margin-top: 40px;
    margin-bottom: 35px;
}
li
{
    height: 350px;
    box-shadow: 0px 0px 10px 3px rgba(237, 237, 237);
}

#menu_1
{
    margin-bottom: 30px;
}

.fa-music
{
    font-size: 40px;
    margin-bottom: 5px;
}

#menu_1 h3
{
    font-size: 30px;
}

#menu_1 p
{
    font-size: 20px;
    margin-bottom: 30px;
}