/* Min-width: 576px and max-width: 767.98px*/

/* Header */
header
{
    height: 110px;
    font-size: 70px;
}

#container 
{
    width: 540px;
    margin-bottom: 110px;
}

/* Navigation */
ul
{
    margin-top: 40px;
    margin-bottom: 35px;
}
li
{
    height: 350px;
    box-shadow: 0px 0px 10px 3px rgba(237, 237, 237);
}

/* Menu 1 */

#menu_1
{
    margin-bottom: 30px;
}

.fa-music
{
    font-size: 40px;
    margin-bottom: 5px;
}

#menu_1 h3
{
    font-size: 30px;
}

#menu_1 h2
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Menu 2 */

#menu_2 h3
{
    font-size: 25px;
}

#menu_2 h2
{
    font-size: 20px;
    margin-bottom: 25px;
}

/* Menu 3 */

#menu_3 h3
{
    font-size: 25px;
}

#menu_3 h2
{
    font-size: 20px;
    margin-bottom: 25px;
}

/* Menu 4 */

#menu_4 h3
{
    font-size: 25px;
}

#menu_4 h2
{
    font-size: 20px;
    margin-bottom: 25px;
}

/* Button Prochainement */
.btn
{
    height: 55px;
    width: 330px;
}

.btn a
{
    font-size: 25px;
}

/* Footer */
footer
{
    height: 50px;
}

footer a
{
    font-size: 25px;
}