/* Header */
header
{
    background-color: rgb(87, 156, 135);
    color: rgb(253, 203, 70);
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: -0.05em;
    display: flex;
}

header h1
{
    margin: auto;
    text-transform: lowercase;
}

/* Container */
#container 
{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#container a
{
    text-align: center;
}

#container h1
{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
}

/* Navigation */
ul
{
    display: flex;
    flex-wrap: wrap;
}

li
{
    display: flex;
    margin: 5%;
}

/* Animation on hover nav : zoom menu */

.zoom_menu
{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 0 40%;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
}

.zoom_menu:hover
{
    opacity: 0.5;
    transition: 1s;
    transform: scale(1.3);
}

/* End animation on hover nav */

li h2
{
    padding: 10px; /* The gradient hides the end of the letters. Padding of safety. */
}

li h3
{
    font-family: 'Kalam';
}


/* Menu 1 */

#menu_1
{
    background-color: rgb(252, 223, 219);
    font-family: 'Devonshire';
}

.fa-music
{
    background: linear-gradient(to right, rgb(241, 88, 97), rgb(247, 143, 106));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu_1 a
{
    color: rgb(60, 18, 24);
}

#menu_1 h3
{
    font-weight: 300;
    text-transform: uppercase;
}

/* Menu 2 */

#menu_2
{
    background-color: rgb(255, 245, 254);
    font-family: "Croissant One";
}

#menu_2 h2, #section_menu_2 h2
{
    background: linear-gradient(to right, rgb(216, 133, 46), rgb(144, 91, 253));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#menu_2 h3
{
    color: rgb(199, 116, 18);
    font-family: 'Gelasio';
}

/* Menu 3 */

#menu_3
{
    background-color: rgb(249, 249, 249);
    font-family: 'Dancing Script';
}

#menu_3 h2
{
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu_3 h3
{
    color: rgb(8, 135, 251);
}

/* Menu 4 */

#menu_4
{
    background-color: rgb(253, 255, 253);
    font-family: 'Kaushan Script';
}

#menu_4 h2
{
    background: linear-gradient(to right, rgb(66, 151, 60), rgb(200, 254, 148));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu_4 h3
{
    color: rgb(114, 191, 86);
}

/* Button Prochainement */
.btn
{
    background-color: rgb(87, 156, 135);
    color: rgb(253, 203, 70);
    display: flex;
    margin: auto;
    border-radius: 10%;
}

.btn a
{
    margin: auto;
    font-family: 'Roboto';
    color: rgb(253, 203, 70);

}

.btn span
{
    animation: 1.8s normal suspension linear infinite;
}


.btn span:nth-child(1)
{
    animation-delay: 0.6s;
}

.btn span:nth-child(2)
{
    animation-delay: 1.2s;
}

@keyframes suspension
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
}

/* Footer */
footer
{
    font-family: 'Roboto';
    background-color: rgb(87, 156, 135);
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a
{
    color: rgb(253, 203, 70);
    margin: 5%;
}

footer a:hover
{
    animation: 1s ease wiggle;
}

@keyframes wiggle {
    0% {
        transform: rotate(-3deg);
    }
    10% 
    {
        transform: rotate(8deg);
    }
    20% {
        transform: rotate(16deg);
    }
    40% {
        transform: rotate(-12deg);
    }
    60% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0);
    }
  }

/* Section all menu */
.price
{
    font-weight: bold;
}

/* Section Menu 1 : dish presentation */
#section_menu_1
{
    background-color: rgb(252, 223, 219);
}

#section_menu_1 h2
{
    font-family: "Devonshire";
    text-align: center;
}

#section_menu_1 table
{
    font-family: "Kalam";
}

#section_menu_1 p
{
    text-align: center;
    font-family: "Devonshire";
}

/* Transition on caption for menu and line around caption in menu */

.border_menu
{
    position: relative;
    text-align: center;
}

caption span:nth-child(2)
{
    position: relative;
}

caption span:nth-child(2)::before
{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-bottom: solid;
    transition: transform 500ms linear;
    transform: scaleX(0);
    transform-origin: 0%;
}

caption:hover span:nth-child(2)::before
{
    transform: scaleX(1);
}


/* Line around caption in menu 1 */
#section_menu_1 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(61, 19, 25);
    content: "";
    border-radius: 20px;
}

#section_menu_1 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(61, 19, 25);
    content: "";
    border-radius: 20px;
}

/* Section Menu 2: dish presentation */
#section_menu_2
{
    background-color: rgb(255, 245, 254);
}

#section_menu_2 h2
{
    font-family: "Croissant One";
    text-align: center;
}

#section_menu_2 table
{
    font-family: "Gelasio";
}

/* First table in menu 2 */

#first_table_menu_2
{
    color: rgb(198, 116, 18);
}

/* Second table in menu 2 */

#second_table_menu_2
{
    color: rgb(165, 103, 153);
}

/* Third table in menu 2 */
#third_table_menu_2
{
    color: rgb(110, 76, 204);
}

/* Line around caption in menu 2, first table */
#first_table_menu_2 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(198, 116, 18);
    content: "";
    border-radius: 20px;
}

#first_table_menu_2 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(198, 116, 18);
    content: "";
    border-radius: 20px;
}

/* Line around caption in menu 2, second table */
#second_table_menu_2 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(165, 103, 153);
    content: "";
    border-radius: 20px;
}

#second_table_menu_2 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(165, 103, 153);
    content: "";
    border-radius: 20px;
}

/* Line around caption in menu 2, third table */
#third_table_menu_2 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(110, 76, 204);
    content: "";
    border-radius: 20px;
}

#third_table_menu_2 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(110, 76, 204);
    content: "";
    border-radius: 20px;
}

/* Section Menu 3: dish presentation */
#section_menu_3
{
    background-color: rgb(237, 239, 239);
}

#section_menu_3 h2
{
    font-family: "Dancing Script";
    text-align: center;
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
}

#section_menu_3 table
{
    font-family: "Kalam";
}

/* Line around caption in menu 3, first table */
#first_table_menu_3 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(2, 40, 221);
    content: "";
    border-radius: 20px;
}

#first_table_menu_3 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(2, 40, 221);
    content: "";
    border-radius: 20px;
}

/* Line around caption in menu 3, second table */
#second_table_menu_3 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(6, 112, 243);
    content: "";
    border-radius: 20px;
}

#second_table_menu_3 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(6, 112, 243);
    content: "";
    border-radius: 20px;
}

/* Line around caption in menu 3, third table */
#third_table_menu_3 .line_around_before
{
    position: absolute;
    left: 0;
    background-color: rgb(34, 157, 249);
    content: "";
    border-radius: 20px;
}

#third_table_menu_3 .line_around_after
{
    position: absolute;
    right: 0;
    background-color: rgb(34, 157, 249);
    content: "";
    border-radius: 20px;
}

/* Section Menu 4: dish presentation */
#section_menu_4
{
    background-color: rgb(253, 255, 253);
}

#section_menu_4 h2
{
    font-family: "Kaushan Script";
    text-align: center;
    background: linear-gradient(to right, rgb(66, 151, 60), rgb(200, 254, 148));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
}

#section_menu_4 table
{
    font-family: "Kalam";
}

/* Line around caption in menu 4 */
#section_menu_4 .line_around_before
{
    position: absolute;
    left: 0;
    background: linear-gradient(to right, rgb(66, 151, 60), rgb(200, 254, 148));
    content: "";
    border-radius: 20px;
}

#section_menu_4 .line_around_after
{
    position: absolute;
    right: 0;
    background: linear-gradient(to left, rgb(66, 151, 60), rgb(200, 254, 148));
    content: "";
    border-radius: 20px;
}