/* Header */
header
{
    background-color: rgb(87, 156, 135);
    color: rgb(253, 203, 70);
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: -0.05em;
    display: flex;
}

header h1
{
    margin: auto;
}

/* Container */
#container 
{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#container a
{
    text-align: center;
}

/* Navigation */
ul
{
    display: flex;
    flex-wrap: wrap;
}

li
{
    display: flex;
    flex: 1 0 40%;
    align-items: center;
    justify-content: center;
    margin: 5%
}


/* Menu 1 */

#menu_1
{
    background-color: rgb(252, 223, 219);
    font-family: 'Devonshire';
}

.fa-music
{
    background: linear-gradient(to right, rgb(241, 88, 97), rgb(247, 143, 106));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu_1 a
{
    color: rgb(60, 18, 24);
}

#menu_1 h3
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

/* Menu 2 */

#menu_2
{
    background-color: rgb(255, 245, 254);
    font-family: 'Croissant One';
}

#menu_2 h2
{
    background: linear-gradient(to right, rgb(216, 133, 46), rgb(144, 91, 253));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#menu_2 h3
{
    color: rgb(199, 116, 18);
}

/* Menu 3 */

#menu_3
{
    background-color: rgb(249, 249, 249);
    font-family: 'Dancing Script';
}

#menu_3 h2
{
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu_3 h3
{
    color: rgb(8, 135, 251);
    font-family: 'Roboto';
    font-style: italic;
}

/* Menu 4 */

#menu_4
{
    background-color: rgb(253, 255, 253);
    font-family: 'Kaushan Script';
}

#menu_4 h2
{
    background: linear-gradient(to right, rgb(66, 151, 60), rgb(200, 254, 148));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu_4 h3
{
    color: rgb(114, 191, 86);
    font-family: 'Roboto';
    font-style: italic;
}

/* Bouton Prochainement */
.btn
{
    background-color: rgb(87, 156, 135);
    color: rgb(253, 203, 70);
   /* display: flex;*/
}

/* Lien */
a
{
    text-decoration: none;
}